body {
    background-color: #F9F9F9;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}
p, h1, h2, h3, ul {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}
.container {
    width: 1720px;
    margin: 0 auto;
}
.header {
    padding: 41px 0px;
    border-bottom: 2px solid #779611;
}
.header-container {
    display: flex;
    gap: 120px;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 80px;
}
.header-link {
    color: #707070;
    font-weight: 500;
    text-transform: capitalize;
}
.hero {
    border-bottom: 2px solid #779611;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-title {
    font-size: 48px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: #779611;
    padding-bottom: 50px;
}
.hero-text {
    font-size: 24px;
    padding-bottom: 50px;
    max-width: 580px;
}
.hero-link {
    color: #F9F9F9;
    background-color: #779611;
    border-radius: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 32px;
}
.flaves {
    padding-top: 80px;
    padding-bottom: 80px;
}
.flaves-title {
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    color: #779611;
    font-weight: 600;
}
.flaves-text {
    padding-top: 35px;
    padding-bottom: 50px;
}
.flaves-list {
    display: flex;
    justify-content: space-between;
}
.flaves-name {
    font-size: 24px;
    color: #779611;
    font-weight: 400;
    padding: 35px 0px 15px 60px;
}
.flaves-price {
    padding-left: 60px;
}
.subscription {
    padding-bottom: 80px;
}
.subscription-title {
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    color: #779611;
    font-weight: 600;
}
.subscription-text {
    padding-top: 35px;
    padding-bottom: 50px;
}
.subscription-list {
    display: flex;
    justify-content: space-between;
}
.subscription-name {
    font-size: 24px;
    color: #779611;
    font-weight: 400;
    padding: 35px 0px 15px 60px;
}
.subscription-price {
    padding-left: 60px;
}
.footer{
    padding:60px 0px 60px;
    border-top: 2px solid #779611;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-list{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.footer-link {
    color: #000;
}
.footer-title{
    font-weight: 400;
    margin-bottom: 20px;
}
.footer-adres{
    line-height: 2.1;
}
.about-us {
    padding-top: 114px;
    border-top: 2px solid #779611;
    padding-bottom: 114px;
}
.about-us-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us-subtitle {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #779611;
    padding-bottom: 15px;
}
.about-us-title {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #779611;
    padding-bottom: 35px;
}
.about-us-text {
    font-weight: 400;
}
